body{
background-image: url("../imagens/imagem.png");
background-position: center;
background-size: 1000px;
}

.t,img{
  position: relative;
  border-radius:50%;
}
.card{
  margin: auto;
  padding: 10px;
  width: 600px;
  height: 580px;
  background-color: white;
  box-shadow:0 1rem 3rem rgba(0,0,0,.175);
  border-radius: 25px;
}
.paragarph-center{
  text-align: center;
}
.circle-photo{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  margin: -28px 0px 0px 180px;
  padding: 10px;
  width: 203px;
  height: 203px;
  border-radius:100%;
  border:2px solid white;
  position: relative;
}

h1{
	font-size: 100px;
	color: #01403A;
	font-family: GardenGrownUS;
}

@font-face{
		font-family: "GardenGrownUS";
		src: url("../fonts/GardenGrownUS-CCaps.ttf");
}

.title{
  margin-top: 20px;
  font-family: arial black;
  font-size: 30px;

}
.ps{
  margin-left: -100px;
  margin-top: 100px;
}

.ps2{
  margin-left: 350px;
  margin-top: -625px;
}

.ps3{
  margin-left: 800px;
  margin-top: -625px;
}
.img{
	margin-left: 750px;
	margin-top: 120px;
	height: 450px;
}

.ps6{
  margin-left: 23%;
	margin-top: 100px;

}
.control-ps{
  position: relative;
}

label{
	font-size: 35px;
}

#botão{
	background-color: #01403A;
}


nav li{
	font-family: GardenGrownUS;
	font-size: 100px;
}

a{
	margin-top: 5px;
	font-family: GardenGrownUS;
	font-size: 100px;
}

.nav-wrapper{
  background-color: #01403A;
}

.row2{
  margin-top: 150px;
}
